<div class="flex flex-col items-center text-2xl gap-2 py-2">
  <div class="flex justify-between items-center w-1/2 mt-4">
    <%= link_to 'Generated Boards', boards_path, class: 'text-2xl font-bold' %>
    <%= link_to 'New Board', new_board_path, class: 'bg-blue-500 hover:bg-blue-700 text-lg text-white py-1 px-2 rounded' %>
  </div>
  <div class="mx-auto w-1/2 py-2 px-3 space-y-4 border border-slate-300 shadow-sm rounded">
    <%= turbo_frame_tag 'search' do %>
      <%= form_with url: boards_path, class: 'w-1/2 mb-2', method: :get, data: { turbo_frame: 'search' }, local: true do |form| %>
        <div class="relative">
          <%= form.text_field :search, value: params[:search], placeholder: "Search boards...", class: "block w-full p-4 pl-4 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          <%= form.submit "Search", class: "text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
        </div>
      <% end %>
      <% @boards.each do |board| %>
        <div class="border p-4 rounded-md shadow-sm space-y-2 mb-2">
          <h2 class="text-lg font-medium"><%= link_to board.name, board_path(board), class: "text-indigo-600 hover:text-indigo-500" %></h2>
          <p class="text-sm text-gray-500">Created by: <%= board.email %></p>
          <p class="text-sm text-gray-500">Created at: <%= board.created_at.strftime("%d %b %Y %H:%M") %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
